* {
  box-sizing: border-box;
}

.bg-dead {
  background-color: #f9667433;
}

.delete-user {
  width: 24px;
}
.mc-view .all-players {
  flex: 1;
  overflow: scroll;
}

.new-game-modal .form-check-input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.new-game-modal .form-check-label {
  font-size: 18px;
  margin-top: 0.1rem;
  margin-left: 5px;
  text-transform: capitalize;
}

.separator {
  width: 100%;
  border-top: 1px solid lightgrey;
  margin-bottom: 16px;
}

.mc-view,
.player-view {
  height: 100vh;
}

.player-row .order-number {
  min-width: 60px;
}

.player-row .name {
  flex: 1;
}

.all-players {
  flex: 1;
  overflow: scroll;
}

.player-list-container {
  background-color: #fff;
  padding: 5px;
}

.player-row:nth-child(odd) {
  background: #ebf7ff;
}

.skill-tab .player-row:nth-child(odd) {
  background: #d8eedd;
}

.vote-tab .player-row:nth-child(odd) {
  background: #dadada;
}

.player-row.selected-player {
  background-color: aquamarine !important;
}

.witch-action-radio input {
  margin-right: 5px;
}
